@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  color: aliceblue;
  background-color: #212529;
  z-index: 50;
}

.navbar-brand {
  font-size: 2em;
  font-style: italic;
  font-weight: bold;
}

#menu ul li {
  border: 1px solid black;
  border-radius: 50px;
  margin: 2px 0;
  text-align: center;
  cursor: pointer;
  font-size: 1.2em;
  transition: 0.5s;
}
#menu ul li .active {
  background-color: rgb(56, 1, 1);
  color: white;
  font-size: 1.4em;
  border-radius: 50px;
}
#menu ul li:hover {
  background-color: rgb(56, 1, 1);
  color: white;
  scale: 0.9;
}

@media screen and (min-width: 768px) {
  .navbar-brand {
    font-size: 3em;
  }
  #menu ul li {
    border-radius: 10px;
    margin: 0 10px;
    font-size: 1.2em;
  }
  #menu ul li .active {
    font-size: 1.2em;
    border-radius: 10px;
  }
}
#slide #carousel .carousel-inner .carousel-item .img-slide {
  filter: brightness(0.5);
}
#slide #carousel .carousel-inner .carousel-item .carousel-caption {
  padding-bottom: 35px;
}
#slide #carousel .carousel-inner .carousel-item .carousel-caption h4, #slide #carousel .carousel-inner .carousel-item .carousel-caption p {
  text-shadow: 1px 1px 1px black;
}

#menu-comida ul li {
  color: black;
  margin: 0px 5px;
  border-radius: 0;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.205);
  transition: 0.3s;
}
#menu-comida ul li .nav-link {
  color: black;
}
#menu-comida ul li .active {
  color: white;
  background-color: rgb(56, 1, 1);
  transition: 0.3s;
  border: none;
  border-radius: 0;
  overflow: hidden;
  font-size: 1.2em;
}
#menu-comida #menuTabsContent .tab-pane .item-menu {
  max-width: 550px;
  width: 100%;
  border-radius: 15px;
}
#menu-comida #menuTabsContent .tab-pane .item-menu:hover {
  transition: 0.5s;
  background-color: rgb(49, 48, 48);
  scale: 0.9;
}
#menu-comida #menuTabsContent .tab-pane .item-menu:hover img {
  scale: 0.95;
  filter: brightness(1.1);
  transition: 0.5s;
}
#menu-comida #menuTabsContent .tab-pane .item-menu:hover h5, #menu-comida #menuTabsContent .tab-pane .item-menu:hover p {
  color: white;
  transition: 0.5s;
}
#menu-comida #menuTabsContent .tab-pane h5 {
  font-size: 2em;
  text-align: center;
}
#menu-comida #menuTabsContent .tab-pane h5, #menu-comida #menuTabsContent .tab-pane p {
  color: black;
  max-width: 550px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  #menu-comida #menuTabsContent #pratos .flex-column, #menu-comida #menuTabsContent #petiscos .flex-column, #menu-comida #menuTabsContent #bebidas .flex-column {
    flex-flow: row wrap !important;
  }
  #menu-comida #menuTabsContent .tab-pane .item-menu {
    max-width: 500px;
    width: 300px;
    border-radius: 10px;
    padding: 5px;
    height: 380px;
  }
  #menu-comida #menuTabsContent .tab-pane .item-menu img {
    width: 280px;
    border-radius: 25px !important;
  }
  #menu-comida #menuTabsContent .tab-pane h5 {
    font-size: 1.5em;
    text-align: center;
  }
}
@media screen and (min-width: 1024px) {
  #menu-comida #menuTabsContent .tab-pane {
    margin-bottom: 24px;
  }
  #menu-comida #menuTabsContent .tab-pane .item-menu {
    width: 400px;
    height: 420px;
  }
  #menu-comida #menuTabsContent .tab-pane .item-menu img {
    width: 350px;
  }
  #menu-comida #menuTabsContent .tab-pane h5 {
    font-size: 1.6em;
  }
  #menu-comida #menuTabsContent .tab-pane h5, #menu-comida #menuTabsContent .tab-pane p {
    text-align: center;
    color: black;
    max-width: 350px;
    width: 100%;
  }
}
#sobre {
  margin-top: 16px;
  background-color: #212529;
  color: white;
  padding: 10px;
}
#sobre h2 {
  padding-top: 16px;
  font-size: 2.5em;
  font-style: italic;
}
#sobre img:hover {
  scale: 1.05;
  transition: 0.5s;
}
#sobre h3 {
  font-size: 2em;
  font-style: italic;
  padding: 16px 0;
  text-align: center;
}
#sobre p {
  font-weight: 500;
  font-size: 1.4em;
  text-align: justify;
}

#programação #eventos .carousel-inner .carousel-title, #programação #eventos .carousel-inner .carousel-caption {
  color: white;
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  width: 100%;
  text-align: center;
}
#programação #eventos .carousel-inner .carousel-item img {
  filter: brightness(0.5);
}
#programação #eventos .carousel-inner .carousel-item .carousel-caption {
  color: white;
  top: 50px;
}
#programação #eventos .carousel-inner .carousel-item .carousel-caption p {
  width: 75%;
}

#localização .conteudo-localização h4 {
  font-size: 2.5em;
  font-style: italic;
}

#whatsappForm .form-control {
  border: 1px solid rgba(0, 0, 0, 0.678);
}
#whatsappForm .form-control:hover {
  scale: 1.1;
  transition: 0.5s;
}
#whatsappForm .form-control:nth-child(5):hover {
  background-color: rgb(56, 1, 1);
}

footer {
  background-color: #212529;
  color: white;
  padding: 10px;
}

/*# sourceMappingURL=main.css.map */
