header{
    border: 1px solid red;
    #menu{
        
        top: 100px;
        left: 0px;
    }
    
}


#menu{
    ul{
        li{
            padding: 5px;
            border: 1px solid black;
            
        }
    }
}