#slide{
    #carousel{
        .carousel-inner{
            .carousel-item{
                .img-slide{
                    filter: brightness(0.5);
                }
                .carousel-caption{
                    h4, p{
                        text-shadow: 1px 1px 1px black;
                    }
                    padding-bottom: 35px;
                    
                }
            }
        }
    }
}
@media screen and (min-width: 768px) {
    #carousel{
        .carousel-inner{
            .carousel-item{
                
                position: relative;
                .carousel-caption{
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    z-index: 2;
                    text-align: center;
                    .tela-mg{
                        h4{
                            font-size: 3em;
                            font-style: italic;
                        }
                        p{
                        font-size: 2em;
                    }
                    }
                    
                }
            }
        }
    }
}
@media screen and (min-width: 1024px)  {
    #carousel{
        .carousel-inner{
            .carousel-item{
                .carousel-caption{
                    top: 60%;
                }
            }
        }
    }
}