#slide{
    #carousel{
        .carousel-inner{
            .carousel-item{
                .img-slide{
                    filter: brightness(0.5);
                }
                .carousel-caption{
                    h4, p{
                        text-shadow: 1px 1px 1px black;
                    }
                    padding-bottom: 35px;
                    
                }
            }
        }
    }
}