#programação{
    #eventos{
        
        .carousel-inner{
             
            .carousel-title,.carousel-caption{

                    color: white;
                    position: absolute;
                    top: 5px;
                    left: 50%;
                    transform: translateX(-50%);
                    z-index: 1;
                    width: 100%;
                    text-align: center;
                }
                .carousel-item{
                    img{
                        filter: brightness(0.5);
                    }
                    .carousel-caption{
                    color: white;
                    top: 50px;
                    p{
                        width: 75%;
                    }
                    }
                }
        }
    }
}
        