#programação{
    #eventos{
        
        .carousel-inner{
             
            .carousel-title,.carousel-caption{

                    color: white;
                    position: absolute;
                    top: 5px;
                    left: 50%;
                    transform: translateX(-50%);
                    z-index: 1;
                    width: 100%;
                    text-align: center;
                }
                .carousel-item{
                    img{
                        filter: brightness(0.5);
                    }
                    .carousel-caption{
                    color: white;
                    top: 50px;
                    p{
                        width: 75%;
                    }
                    }
                }
        }
    }
}

@media screen and (min-width: 768px) {
    #programação{
        #eventos{
            
            .carousel-inner{
                position: relative;
                h2{
                    font-size: 4em;
                    font-style: italic;
                }
                .carousel-title,.carousel-caption{
                        top: 45px;
                        
                    }
                    .carousel-item{
                        .carousel-caption{
                            h4{
                                font-size: 2em;
                            }
                        p{
                            font-size: 1.5em;
                            width: 60%;
                        }
                        }
                    }
            }
        }
    }
            
}
@media screen and (min-width: 1024px) {
    #programação{
        #eventos{
            
            .carousel-inner{
                .carousel-title,.carousel-caption{
                        top: 10%;
                        
                    }
                    h2{
                        font-size: 6em;
                        
                    }
                    .carousel-item{
                        .carousel-caption{
                            h4{
                                font-size: 3em;
                            }
                        p{
                            font-size: 2em;
                            width: 60%;
                        }
                        }
                    }
            }
        }
    }
            
}